server.port: ${SERVICE_PORT}
spring.zipkin.locator.discovery.enabled: true

management:
  server.port: ${SERVICE_MANAGEMENT_PORT:${SERVICE_PORT}}
  security.enabled: false
  endpoints:
    web:
      base-path: /
      exposure.include: "*"
  endpoint:
    health:
      show-details: ALWAYS
  health.binders.enabled: true

eureka.instance:
  leaseRenewalIntervalInSeconds: 10
  health-check-url-path: /health
  preferIpAddress: true
  instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  metadata-map:
    management:
      port: ${management.server.port}
      instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
      context-path: /

spring:
  cloud:
    inetutils:
      preferred-networks:
        - 10.0

spring.boot.admin:
  client:
    url: ${ADMIN_URL}
    period: 10000
    instance:
      prefer-ip: true
      name: ${spring.application.name}:${spring.application.instance_id:${random.value}}
      service-base-url: http://${spring.application.name}:${server.port}

spring.aop.proxy-target-class: true